<link rel="stylesheet" href="/css/admin/dashboard.css">

<div class="header">
  <div class="header-left">
    <img src="/img/antel-logo.png" class="header-logo">
    <h2><%= title %></h2>
  </div>
</div>